@page
@model StockTracAllDataIntegrator.Pages.CallbackModel

<h2>Authorization successful</h2>
@if (!string.IsNullOrEmpty(Model.AccessToken))
{
    <div>
        <p>Your access token is: @Model.AccessToken</p>
    </div>
}
else
{
    <p>There was an error obtaining the access token.</p>
}
